name: Build Email Blocklist Lambda

on:
  push:
    branches:
      - main

defaults:
  run:
    working-directory: ./infra/aws

permissions:
  id-token: write      # Required for aws-actions/configure-aws-credentials
  contents: read       # Required for actions/checkout

env:
  # Disable Terraform telemetry
  CHECKPOINT_DISABLE: "true"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::803205869942:role/github-actions-ses-email-service
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init

      - name: Place secret variables
        run: |
          echo "${TFVARS}" | base64 -d > variables.tfvars
        env:
          TFVARS: ${{ secrets.TFVARS }}

      - name: Terraform Apply
        run: terraform apply -no-color -auto-approve -var-file=variables.tfvars
