name: Build Email Service

on:
  pull_request:
  push:
    branches: ['main']
    tags: ['v*']
    paths-ignore:
      - 'infra/k8s/**'

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  docker:
    permissions:
      contents: read
      packages: write
      security-events: write
    uses: USA-RedDragon/reusable-actions/.github/workflows/docker-ci.yaml@f703bdec2cf1770ebc8eaa0ce12cda3047820d41 # v2.0.11
    with:
      push: ${{ github.event_name != 'pull_request' }}
